<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696193173774-sm8l241116kgcimckmve2p8k9jvlti4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696193173774-sm8l241116kgcimckmve2p8k9jvlti4d</string>
	<key>API_KEY</key>
	<string>AIzaSyCWT6YVukeAhD7Mt_9KznddVDhRc_dabWo</string>
	<key>GCM_SENDER_ID</key>
	<string>696193173774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pegipegi.pokefinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-b8f8e</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-b8f8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:696193173774:ios:e15f38c1f6ca95db</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-b8f8e.firebaseio.com</string>
</dict>
</plist>
